<html ng-app="empapp">
<head></head>
<body ng-controller="empappctrl" ng-init="hostReachable()">
	    <div style="margin:0 auto;width:250px" ng-show="reachability==1">Uploading offline data to server....</div><br><br>
		<input type="text" placeholder="Employee Id" ng-model="emp_id"><br><br>
		<input type="text" placeholder="Designation" ng-model="des"><br><br>
		<input type="number" placeholder="Salary" ng-model="salary"><br><br>
		<input style="margin-top:10px;" type="button" ng-click="fetch_db(emp_id, des, salary)" value="submit">
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="../js/index.js"></script>
</html>

