<html ng-app="home">
<head>
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body ng-controller="homeCtrl">
    <div class="row">
            <div class="col-lg-12">
                <span class="page-header">Select Date: <input type="date" ng-model="date"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    {{attendanceData.sesssions}}
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th ng-repeat="a in attendanceData['sessions']">{{a}}</th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll">
                            <tr ng-repeat="student in attendanceData['studentsData']">
                                <td>{{student.name}}</td>
                                <td ng-repeat="a in attendanceData['sessions']" style="text-align:center;vertical-align:middle;">
                                    <label>
                                        <input type="radio" ng-model="student.sessions[a]" value="present"> <i class="fa fa-check-circle-o"></i>
                                    </label>
                                    </br>
                                    <label>
                                        <input type="radio" ng-model="student.sessions[a]" value="abbsent"> <i class="fa fa-times-circle-o"></i>
                                    </label>
                                    </br>
                                    <label>
                                        <input type="radio" ng-model="student.sessions[a]" value="permission"> <i class="fa fa-minus-circle"></i>
                                    </label>
                                    </br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/home.js"></script>
</html>