<html ng-app="home">
<head>Welcome</head>
<body ng-controller="homeCtrl">
	{{staff_name}}
	<div>
		<tabset>
            <tab style="cursor:pointer;" active="" disabled="">
                <tab-heading>
                    Add New
                </tab-heading>
                <div style="padding:10px;" class="tbodyrow">no user alert found!</div>
            </tab>
            <tab style="cursor:pointer;" active="" disabled="">
                <tab-heading>
                    View Attendance
                </tab-heading>
                <div>hi all</div>
            </tab>
        </tabset>        
	</div>
</body>
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/home.js"></script>
</html>